app.get('/', async (req, res) => {
  try {
    const posts = await Post.findAll();
    res.render('main', {
      bodyContent: `
        <h3>Recent Blog Posts</h3>
        {{#each posts}}
          <div class="blog-post">
            <h4>{{ title }}</h4>
            <p>Created by: {{ creator }}</p>
            <p>Date: {{ date }}</p>
            <a href="/post/{{ id }}">Read More</a>
          </div>
        {{else}}
          <p>No blog posts found.</p>
        {{/each}}
      `,
      posts
    });
  } catch (error) {
    res.status(500).send('An error occurred');
  }
});
